body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div, ul, li {
    box-sizing: border-box;
}

.template {
    display: none;
}

#hand ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#players .bet {
    display: none;
}

#players li.ready {
    background: #090;
    color: #fff;
}

#players.turn .bet {
    display: initial;
}

#hand li {
    font-size: 20pt;
    float: left;
    width: 100px;
    line-height: 150px;
    text-align: center;
    border: 1px solid #aaa;
    margin-right: 20px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

#hand li:hover {
    background: #aaa;
}

#hand li.selected {
    color: #fff;
    background: #555;
}

#hand li:last-child {
    margin: 0;
}

#hand ul:after {

    content: " ";
    display: table;
    clear: both
}